# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [52]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [53]:
chipo = pd.read_csv('chipotle.tsv', sep = "\t", header = 0) #read_csv reads coma separated value files, but bc this was a tsv, you need to specify that it is separated by tabs

In [54]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [55]:
chipo.head(10) #head shows the first - entries, tail shows the last - entries

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [56]:
chipo.iloc[:10] #this looks for the 10th row

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [57]:
chipo.loc[:10] #this looks for the row named 10

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45

In [58]:
chipo.index = ["row_" + str(i) for i in chipo.index]

In [59]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
row_0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
row_1,1,1,Izze,[Clementine],$3.39
row_2,1,1,Nantucket Nectar,[Apple],$3.39
row_3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
row_4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
row_5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
row_6,3,1,Side of Chips,NaN,$1.69
row_7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
row_8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
row_9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [60]:
chipo.iloc[:10]

,order_id,quantity,item_name,choice_description,item_price
row_0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
row_1,1,1,Izze,[Clementine],$3.39
row_2,1,1,Nantucket Nectar,[Apple],$3.39
row_3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
row_4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
row_5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
row_6,3,1,Side of Chips,NaN,$1.69
row_7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
row_8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
row_9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [61]:
chipo.loc[:'row_10', 'item_price']

row_0      $2.39
row_1      $3.39
row_2      $3.39
row_3      $2.39
row_4     $16.98
row_5     $10.98
row_6      $1.69
row_7     $11.75
row_8      $9.25
row_9      $9.25
row_10     $4.45
Name: item_price, dtype: object

### Step 5. What is the number of observations in the dataset?

In [62]:
# Solution 1
len(chipo)

4622

In [63]:
# Solution 2
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [64]:
len(chipo.columns) #columns lists all the columns in an array, so finding the length of this gives the number of columns

5

### Step 7. Print the name of all the columns.

In [65]:
for col in chipo.columns: print (col) #in python loops are easier

order_id
quantity
item_name
choice_description
item_price

In [66]:
n = len(chipo.columns) #more traditional method

i = 0

while i < n:
    col = chipo.columns[i]
    print(col)
    i += 1

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [67]:
chipo.index

Index(['row_0', 'row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6', 'row_7',
       'row_8', 'row_9',
       ...
       'row_4612', 'row_4613', 'row_4614', 'row_4615', 'row_4616', 'row_4617',
       'row_4618', 'row_4619', 'row_4620', 'row_4621'],
      dtype='object', length=4622)

### Step 9. Which was the most-ordered item?

In [68]:
most_ordered = chipo.groupby('item_name').agg({'quantity':['sum', "max"]})
most_ordered.columns #.sort_values('quantity', ascending = False).head(10)

MultiIndex([('quantity', 'sum'),
            ('quantity', 'max')],
           )

In [69]:
chipo.groupby('item_name')[['quantity']].sum().sort_values('quantity', ascending = False).head(10)

                              quantity
item_name
Chicken Bowl                       761
Chicken Burrito                    591
Chips and Guacamole                506
Steak Burrito                      386
Canned Soft Drink                  351
Chips                              230
Steak Bowl                         221
Bottled Water                      211
Chips and Fresh Tomato Salsa       130
Canned Soda                        126

### Step 10. For the most-ordered item, how many items were ordered?

In [71]:
#most_ordered.sort_values('quantity', ascending = False).head(1)

### Step 11. What was the most ordered item in the choice_description column?

In [72]:
most_ordered = chipo.groupby('choice_description').agg({'quantity':'sum'})
most_ordered.sort_values('quantity', ascending = False).head(1)

                    quantity
choice_description
[Diet Coke]              159

### Step 12. How many items were orderd in total?

In [73]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [74]:
price = chipo.item_price
price

row_0        $2.39
row_1        $3.39
row_2        $3.39
row_3        $2.39
row_4       $16.98
             ...
row_4617    $11.75
row_4618    $11.75
row_4619    $11.25
row_4620     $8.75
row_4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [75]:
price.iloc[0]

'$2.39 '

In [76]:
def f(price_val):
    return price_val[1:-1]

In [77]:
x = price.iloc[0]
f(x)

'2.39'

In [78]:
f(price.loc['row_4619'])

'11.25'

In [79]:
f = lambda price_val: float(price_val[1:-1])

In [80]:
f(price.loc['row_4619'])

11.25

#### Step 13.b. Create a lambda function and change the type of item price

In [83]:
chipo['item_price_mapped'] = chipo.item_price.map(f)

In [84]:
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_mapped
row_0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
row_1,1,1,Izze,[Clementine],$3.39,3.39
row_2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
row_3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
row_4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
row_4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
row_4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
row_4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
row_4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
row_4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [49]:
type(chipo.loc['row_0','item_price'])

numpy.float64

In [24]:
def f():
    print('Hello World!')

In [25]:
f()

Hello World!

In [26]:
f = lambda : print('Hello World!')

In [27]:
f()

Hello World!

In [32]:
(lambda : print('Hello World!'))()

Hello World!

#### Step 13.c. Check the item price type

In [50]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4622 entries, row_0 to row_4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 345.7+ KB

### Step 14. How much was the revenue for the period in the dataset?

In [51]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [52]:
chipo.quantity.sum()

4972

### Step 16. What is the average revenue amount per order?

In [56]:
# Solution 1
chipo.item_price.sum() / len(chipo)

7.464335785374297

In [54]:
# Solution 2
chipo.item_price.mean()

7.464335785374297

### Step 17. How many different items are sold?

In [57]:
chipo.item_name.nunique()

50